header {
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure header stays on top */
}

/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    min-height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, .25);
    transition: background-color 0.5s ease; /* Add transition for smooth effect */
}

/* Logo Styles */
.nav-center {
    text-align: center;
}

#logo {
    height: 4em;
    width: auto;
}

/* Icon Styles */
.navbar img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

/* Navigation Sections (Left & Right) */
.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0 4rem;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

/* Sidenav Styles */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(2rem); /* Add blur effect */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #640018;
    display: block;
    transition: 0.3s;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
}

.sidenav a:hover {
    color: #ec488a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-left,
    .nav-right {
        margin: 0 0rem;
        gap: 1.5rem;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}